<link rel="stylesheet" href="/css/custom/web/auth.css" />
<div class="form">
  <%- include('../partials/message') %> <%-include('../partials/errore')%>
  <div class="main shadow-lg">
    <input type="checkbox" id="chk" aria-hidden="true" />
    <div class="signup">
      <form method="post" action="/auth/login">
        <label for="chk" aria-hidden="true">ورود</label>
        <div class="text-center">
          <input
            type="email"
            name="email"
            placeholder="ایمیل"
            value="<%-auth?.email %>"
            required=""
          />
          <input
            type="password"
            name="password"
            placeholder="رمز"
            required=""
            value="09922797990"
          />
          <button type="submit">ورود</button>
        </div>
      </form>
    </div>
    <div class="login">
      <form method="post" action="/auth/signup">
        <label for="chk" aria-hidden="true">ثبت نام</label>
        <div class="row">
          <div class="text-center">
            <input
              type="text"
              name="firstName"
              placeholder="نام"
              value="<%-auth?.firstName %>"
              required=""
            />
            <input
              type="text"
              name="lastName"
              placeholder="نام خانوادگی"
              value="<%-auth?.lastName %>"
              required=""
            />
          </div>
          <div class="text-center">
            <input
              type="tel"
              name="phone"
              placeholder="09"
              value="<%-auth?.phone %>"
              required=""
            />
            <input
              type="email"
              name="email"
              placeholder="ایمیل"
              value="<%-auth?.email %>"
              required=""
            />
          </div>
          <div class="text-center">
            <input
              type="password"
              name="password"
              placeholder="رمز"
              required=""
            />
            <input
              type="password"
              name="repeatPassword"
              placeholder="تکرار رمز"
              required=""
            />
          </div>
          <button type="submit">ثبت نام</button>
        </div>
      </form>
    </div>

  </div>
</div>
