<main><%- include('../partials/firstPage/slider')%></main>
<main><%- include('../partials/firstPage/baner')%></main>
<main><%- include('../partials/firstPage/categuryBox')%></main>
<main><%- include('../partials/firstPage/freshProducts')%></main>
<main><%- include('../partials/firstPage/deal')%></main>
<main><%- include('../partials/firstPage/contactUs')%></main>
